{% extends 'projekt/base.html' %}

{% block content %}
    <div class="content_title">
        Oferty
    </div>
    <table>
        <tr>
            <th>Wakat</th>
            <th>Lokalizacja</th>
            <th>Zarobki</th>
            <th>Data utworzenia</th>
        </tr>
        {% for o in oferta %}
        <tr class="div_hover">
            <td><a href="{% url 'oferta_detail' pk=o.pk %}">{{ o.wakat }}</a> </td>
            <td>{{ o.lokalizacja }} </td>
            <td> {{o.wynagrodzenie }}</td>
            <td>{{ o.data_utworzenia.date }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}